# 过滤在编译 C语言 程序时产生的文件。
*.obj
*.bin
*.a
*.elf
*.so

# 过滤 python 生成的二进制文件。
*.pyc

# 过滤 Tools 文件夹内的编译后产生的文件。
tools/*/bin/*

# 过滤 Apps 文件夹内的编译后产生的文件。
apps/*/bin/*

# 过滤 系统程序 文件夹内的编译后产生的文件。
sys/*/bin/*

# 过滤 WApps 文件夹内的编译后产生的文件。
wapps/*/bin/*

# 过滤 测试程序 文件夹内的编译后产生的文件。
test/*/bin/*

# 过滤 系统库 文件夹内的编译后产生的文件。
slib/*/bin/*

# 过滤生成的 VHD 文件。
*.vhd

# 过滤生成的 IMG 文件。
*.img

# 过滤系统文件。
.*

# 不忽略.gitignore。
!.gitignore

# 忽略光盘文件。
*.iso

# 忽略文档文件夹。
doc/
